.heroSection img {
  width: 100%;
  height: 100%;
}
.overlayContent {
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 2;
  overflow: hidden;
}
.overlayContent h1 {
  font-size: 3.5rem;
}
.overlayContent p {
  font-weight: 100;
  font-size: 0.9rem;
}
.overlayContent button,
.products button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--highlight-color);
  border: none;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  color: black;
  border: solid black 1px;
  border-radius: var(--btn-radius);
  width: fit-content;
  font-weight: 350;
  transition: all 0.2s ease-in-out;
  animation: btnReveal 1s ease-in-out;
}
@keyframes btnReveal {
  0% {
    /* opacity: 0; */
    border-radius: 10px;
    transform: translateY(5rem) rotate(5deg);
  }
  50% {
    /* opacity: 0.5; */
    border-radius: 5px;
    transform: translateY(-1.5rem) rotate(-5deg);
  }
  100% {
    /* opacity: 1; */
    border-radius: var(--btn-radius);
    transform: translateY(0rem);
  }
}
.heroSection {
  position: relative;
  height: 91vh;
}
.blur {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: 1;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.736),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(2px);
}
.overlayContent button:hover > svg,
.products button:hover > svg {
  transform: rotate(45deg);
  transition: transform 0.2s ease-in-out;
}
.overlayContent button:active,
.products button:active {
  transition: all 0.2s ease-in-out;
  /* border: white solid 1px; */
  color: white;
  background-color: black;
}
.overlayContent button:active > svg,
.products button:active > svg {
  transform: rotate(45deg) translateX(0.7rem) translateY(-0.7rem);
}
.overlayContent button:active,
.products button:active {
  border-right: solid 1.5px white;
}
.overlayContent button:active > svg g,
.products button:active > svg g {
  stroke: white;
}
.aboutSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 1rem; */
  margin: 5rem 0;
}
.imageContainer {
  height: auto;
  width: 70%;
  position: relative;
}
.aboutSection img {
  border-radius: var(--img-radius);
  /* filter: grayscale(); */
  height: 100%;
  width: 100%;
  display: block; /* do this to remove the stubborn gap from the bottom of the image*/
}
.aboutSection .imageContainer::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 10px;
  background-color: var(--highlight-color);
  top: -10px;
  right: 0;
  z-index: 100;
}
.aboutSection .imageContainer::before {
  content: '';
  position: absolute;
  width: 22%;
  height: 10px;
  background-color: var(--highlight-color);
  bottom: -10px;
  left: 0;
  z-index: 100;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 30%;
  padding-left: 4rem;
}
.infoContainer h1 {
  font-size: 8rem;
  font-weight: 300;
  line-height: 7rem;
}
.infoContainer p {
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.5rem;
  width: 85%;
  font-style: italic;
  text-align: justify;
  transition: all 0.2s ease-in-out;
}
.statsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* place-content: center; */
  margin: 0 4rem;
  gap: 10rem;
}
.statsContainer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5hrem;
}
.statsContainer .col h1 {
  font-size: 6rem;
}
.statsContainer .col p:first-child {
  border: solid var(--highlight-color) 1px;
  padding: 0.3rem 0.5rem;
}
.statsContainer .col h1 span {
  font-size: 2rem;
}
.statsContainer .col p:last-child {
  font-style: italic;
  font-weight: 200;
}
.specialitiesSection {
  margin: 5rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}
.specialitiesSection .tab {
  display: flex;
  justify-content: space-between;
}
.specialitiesSection .tab .infoContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  padding: 0;
  justify-content: center;
  width: 45%;
}
.specialitiesSection .tab .imageContainer {
  width: 50%;
  height: auto;
}
.specialitiesSection .tab .imageContainer img {
  height: 100%;
  width: 100%;
  border-radius: var(--img-radius);
  display: block;
  /* object-fit: cover; */
}
.specialitiesSection .tab .infoContainer h1 {
  font-size: 3rem;
  line-height: 3.5rem;
}
.specialitiesSection .tab .infoContainer p {
  font-size: 0.9rem;
  font-weight: 200;
  font-style: italic;
  line-height: 1rem;
  margin-top: 1rem;
}
.specialitiesSection .tab .infoContainer h1 span {
  display: block;
  color: var(--highlight-color);
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  /* font-weight: ; */
  font-size: 5rem;
  font-style: normal;
  transform: rotate(-10deg) translateY(-2rem);
}
.knowMoreBtn {
  background-color: rgba(255, 255, 255, 0);
  border: solid var(--highlight-color);
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}
.specialitiesSection .tab:last-child {
  flex-direction: row-reverse;
}
.knowMoreBtn {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--highlight-color);
  transition: all 0.2s ease-in;
  border-radius: var(--btn-radius);
  position: relative;
  font-size: 0.8rem;
  overflow: hidden;
  cursor: pointer;
  color: black;
  z-index: 1;
}
.knowMoreBtn:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.knowMoreBtn:after {
  content: '';
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.knowMoreBtn:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
}
.knowMoreBtn:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.knowMoreBtn:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.knowMoreBtn:active {
  opacity: 0.8;
  transform: scale(0.98);
}
.partnerContainer {
  margin: 2.5rem 0;
  padding: 0rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: rgba(0, 0, 0, 0.212) solid 1px;
}
.partnerContainer div img {
  height: auto;
  width: 14rem;
}
.products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: black;
  padding: 2.5rem 4rem;
}
.products .cardContainer {
  display: grid;
  /* justify-content: space-between; */
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  overflow: hidden;
}
.products .cardContainer div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 0.8rem 0.5rem;
  border-radius: var(--btn-radius);
  align-items: center;
}
.products .cardContainer div .imageContainer {
  height: 24rem;
  width: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* height: fit-content; */
  padding: 0;
}
.products .cardContainer div img {
  height: 100%;
  width: 100%;
  margin: auto;
  object-fit: cover;
  display: block;
  border-radius: var(--btn-radius);
}
.products .cardContainer div button {
  width: fit-content;
  margin: 0 0 0.25rem auto;
  background-color: white;
  animation: none;
}
.products h1 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.products .cardContainer div h1 {
  color: black;
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}
.products .cardContainer div p {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  /* margin: 0 0.25rem; */
  text-align: justify;
  animation: infoReveal 0.3s ease-in-out;
  font-weight: 200;
  font-style: italic;
  font-size: 0.9rem;
  padding: 0.5rem;
}
@keyframes infoReveal {
  0% {
    /* opacity: 0; */
    transform: translateY(5rem);
  }
  100% {
    /* opacity: 1; */
    transform: translateY(0rem);
  }
}
.shopBtn {
  background-color: var(--highlight-color);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  margin-left: auto;
}
