.GetInTouchSection {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  background-color: black;
  color: white;
  padding: 2.5rem 4rem;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  justify-content: center;
  gap: 2rem;
}
.infoContainer p {
  font-style: italic;
  color: rgb(166, 166, 166);
}
.formContainer form {
  background-color: #191919;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem;
}
.formContainer p {
  font-style: italic;
  color: rgb(78, 78, 78);
  font-size: 0.8rem;
}
.formContainer button {
  background-color: var(--highlight-color);
  padding: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
}
.formContainer button:hover {
  border-radius: 10px;
  background-color: black;
  color: white;
}
.formContainer button:active {
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.637);
  transform: scale(0.98);
}
.formContainer input {
  font-size: 0.9rem;
  padding: 1.5rem;
  width: 100%;
}
.formContainer input::placeholder {
  font-style: italic;
}
