.questionsContainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2.5rem 4rem;
    background-color: black;
    color: rgb(255, 255, 255);
}
.questionsContainer header h1{
    font-size: 1.5rem;
    font-weight: 200;
}
.accordionContainer button{
    display: flex;
    width: 100%;
    background-color: black;
    border: none;
    color: rgb(191, 191, 191);
    justify-content: space-between;
    padding: 1rem 0;
    font-size: 1.2rem;
    cursor: pointer;
}
.accordionContainer hr{
    filter: contrast(0%) brightness(50%);
}
.accordionContainer section div{
    padding-bottom: 0.3rem;
    color: rgb(101, 101, 101);
}